<!-- <ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [autoScale]="true"
  [legend]="legend"
  [showGridLines]="true"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="tempData"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-line-chart> -->

<div *ngIf="tempData.length">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="tempData"
    [gradient]="true"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">
  </ngx-charts-line-chart>
</div>